body.verify_requests-index {
  h1 {
    margin-top: 130px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1.7px;
  }

  .dataTables_length, .dataTables_filter {
    margin: 10px 1em 0;
  }
}

body.verify_requests-show {
  h1 {
    margin-top: 140px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: -2.1px;
    color: whitesmoke;
  }

  .photo-compare {
    display: flex;
    justify-content: center;

    .splide {
      justify-content: center;
      display: flex;
      overflow: hidden;
      width: 25vw !important;

      .splide__pagination {
        visibility: visible;
      }
    }

    img { width: 25vw; height: 25vw; }

  }

  section {
    p {
      margin: 4vw;
      font-size: 21px;
      text-align: center;
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
