<section class="gender">
  <h2>Gender</h2>
  <%= pie_chart @gender_data %>
</section>

<section class="orientation">
  <h2>Orientation</h2>
  <%= pie_chart @orientation_data %>
</section>

<section class="age">
  <h2>Age</h2>
  <%= column_chart @age_data %>
</section>